section.color{
    border: 2px solid gray;
    margin: 1em;
    padding: 0;
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

div.color {
    height: 100px;
    flex-basis: 100%;
}